@import "variables";

@font-face {
  font-family: 'icomoon';
  src:
    url('#{$icomoon-font-path}/icomoon.ttf') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@function unicode($str) {
  @return unquote("\"") + $str + unquote("\"");
}

.icon-pen {
  &:before {
    content: unicode($icon-pen);
  }
}
.icon-arrow {
  &:before {
    content: unicode($icon-arrow);
    color: #fff;
  }
}
.icon-menu {
  &:before {
    content: unicode($icon-menu);
    color: #b3b1b4;
  }
}
.icon-search {
  &:before {
    content: unicode($icon-search);
    color: #b3b1b4;
  }
}
.icon-twitter {
  &:before {
    content: unicode($icon-twitter);
  }
}
.icon-facebook {
  &:before {
    content: unicode($icon-facebook);
  }
}
.icon-facebook-f {
  &:before {
    content: unicode($icon-facebook-f);
  }
}
.icon-instagram {
  &:before {
    content: unicode($icon-instagram);
  }
}
.icon-pinterest2 {
  &:before {
    content: unicode($icon-pinterest2);
  }
}

.icon-play {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 2rem 0 2rem 1.7rem;
    border-color: transparent transparent transparent $color-white;
}
