$icomoon-font-path: "../assets/fonts" !default;

$icon-twitter: \f099;
$icon-facebook: \f09a;
$icon-facebook-f: \f09a;
$icon-instagram: \ea92;
$icon-pinterest2: \ead2;
$icon-arrow: \e90a;
$icon-menu: \e90b;
$icon-search: \e90c;
