// ----- Media objects

.o-main {
    width: 100%;
    margin-bottom: 11rem;

    &:last-child {
        margin-bottom: 0;
    }

    &__img {
        position: relative;
        width: 100%;
        margin-bottom: 2.4rem;
        @include breakpoint(overPhone) {
            margin-bottom: 1rem;
        }

        img {
            width: 100%;
        }

        .icon {
            position: absolute;
            bottom: 0;
            left: 0;
            background: $color-monza;
            width: 10rem;
            height: 10rem;
            @include breakpoint(overPhone) {
                width: 4.5rem;
                height: 4.5rem;
            }

            .icon-play {
                @include absolute(center);
            }
        }
    }

    &__tag {
        margin-bottom: 3rem;
        @include breakpoint(overPhone) {
            margin-bottom: 1.3rem;
        }

        span {
            color: $color-monza;
        }

        &__txt {
            font-family: $ff-main-bold;
            font-size: cr(30px);
            margin-right: 0.3rem;
            @include breakpoint(overPhone) {
                font-size: cr(14px);
                margin-right: 0;
            }
        }

        .icon-pen {
            font-size: 2.5rem;
            @include breakpoint(overPhone) {
                font-size: 1.5rem;
            }
        }
    }

    &__title {
        font-family: $ff-main-bold;
        font-size: cr(38.56px);
        margin-bottom: 6rem;
        color: $color-black;
        @include breakpoint(overPhone) {
            font-size: cr(18px);
            margin-bottom: 2.7rem;
        }
    }

    &__desc {
        font-size: cr(34.28px);
        line-height: cr(51.42px);
        color: $color-black;
        @include breakpoint(overPhone) {
            font-size: cr(16px);
            line-height: cr(24px);
        }
    }
}
