.o-simple {
    width: 100%;
    position: relative;
    margin-bottom: 4.5rem;
    @include breakpoint(overPhone) {
        width: 48%;
        margin-left: 4%;
        margin-bottom: 2rem;
    }

    &:nth-child(2n+0) {
        margin-left: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &__img {
        width: 100%;

        img {
            width: 100%;
        }
    }

    &__txt {
        width: 85%;
        position: absolute;
        bottom: 2rem;
        right: 2rem;
        font-size: 4rem;
        line-height: 1.85;
        @include breakpoint(overPhone) {
            font-size: 1.7rem;
        }

        & span {
            display: inline;
            padding: 0.2rem;
            color: $color-white;
            background: $color-black;
            box-shadow: 5px 0 0 $color-black, -5px 0 0 $color-black;
        }
    }
}
