.c-ad-holder {
    margin: auto;

    img {
        width: 100%;
    }

    &--mob {
        width: 100%;
        margin-bottom: 8.5rem;
        @include breakpoint(overPhone) {
            display: none;
        }
    }

    &--full-desk {
        @include breakpoint(phone) {
            display: none;
        }
        width: 50.5%;
        max-width: 72.8rem;
        margin: 2rem auto 2.2rem auto;
    }

    &--part-desk {
        @include breakpoint(phone) {
            display: none;
        }
        width: 30.9%;
        margin: 0;
        margin-right: 2.8%;
    }
}
