.c-social {
    @include breakpoint(phone) {
        display: none;
    }
    width: 14%;
    display: flex;
    flex-direction: row-reverse;

    .icon {
        color: $color-spun-pearl;
        font-size: 2.6rem;
        margin-right: 1.1rem;

        &:last-child {
            margin-right: 0;
        }
    }
}
