.b-slider-holder {
    @include breakpoint(overPhone) {
        padding: 0 1.3rem;
        display: flex;
        flex-flow: row-reverse wrap;
        align-items: flex-start;
        margin-bottom: 7.3rem;
    }

    &__right {
        width: 100%;
        margin: auto;
        @include breakpoint(overPhone) {
            width: 66.3%;
            margin: 0;
            display: flex;
            flex-flow: row wrap;
        }

        .o-main {
            @include breakpoint(overPhone) {
                width: 48.5%;
                margin-bottom: 0;
                margin-left: 3%;
            }

            &:nth-of-type(2n+0) {
                @include breakpoint(overPhone) {
                    margin-left: 0;
                }
            }
        }
    }
}
