.b-tech {
    margin-bottom: 5.3rem;
    @include breakpoint(overPhone) {
        padding: 0 2rem 0 0.5rem;
        display: flex;
        align-items: flex-start;
        flex-flow: row wrap;
        margin-bottom: 4rem;
    }

    .c-section-title {
        padding-right: 2rem;
        margin-bottom: 6.5rem;
        @include breakpoint(overPhone) {
            padding: 0;
            margin-bottom: 3.5rem;
        }
    }
}
