//----- Variables / Colors

$color-white                : #ffffff;
$color-black                : #000000;
$color-mine-shaft           : #333333;
$color-spun-pearl           : #b3b1b4;
$color-seashell             : #f1f1f1;
$color-alto                 : #DDDDDD;
$color-alizarin-crimson     : #DC1F26;
$color-thunderbird          : #D31F1D;


$colors           : (
  buttons         : ( //----- Buttons colors
    primary       : $color-black,
    secondary     : $color-white
  )
);

// //----- Variables used in the @for loop for different brand colors
// // Example... Socials
// $buttonsArray  : facebook, fb-messenger, twitter, youtube, viber, whatsapp;
// $buttonsLength : length($buttonsArray) + 1;
// // In scss file
// .c-btn {
//     @for $soc from 1 to $buttonsLength {
//         $currentButton : nth($buttonsArray, $soc);
//         &--#{$currentButton} { // color
//             color: colorFunc(socials, $currentButton);
//         }
//     }
// }
